body {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(135deg, white, blue);
}

a {
  text-decoration: none;
  color: black;
}

.navbar-brand {
  font-weight: 400;
  font-size: 2em;
  color: rgb(60, 60, 255) !important;
  line-height: 2em;
  width: 100%;
}

#mainNavbar {
  height: auto;
  width: 60vh;
  margin: auto;
  margin-top: 20vh;
  box-sizing: border-box;
  border-radius: 0.75em;
  font-size: 1.2rem;
  font-weight: 900;
  font-family: Pacifico, Roboto, sans-serif;
}

#mainBody {
  box-sizing: border-box;
  background-color: whitesmoke;
  height: auto;
  width: 60vh;
  margin: auto;
  margin-top: 20vh;
  border: 2px solid rgb(60, 60, 255);
  border-radius: 0.75em;
  padding: 2em;
}

.task_input {
  width: 100%;
  height: 2em;
  margin: 0;
  margin-top: 6vh;
  border-color: rgb(60, 60, 255);
  border-radius: 0.25em;
  overflow: hidden;
}

.headings tr {
  display: block;
  height: 2em;
  width: 100%;
}

.delete {
  background-color: red;
  text-decoration: none;
  padding: 1px;
  display: flex;
  justify-content: flex-end;
}

#add_btn {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(115, 115, 255);
  color: white;
  margin: 0;
  margin-top: 6vh;
  border-color: rgb(115, 115, 255);
  border-radius: 0.2em;
  padding: 0.15em 0.4em;
}

#content {
  margin-bottom: 1.5em;
  display: flex;
  flex-direction: row-reverse;
}
